<style>
  .item {
    background-color: blue;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .item:hover {
    background-color: darkblue;
    color: white;
  }
</style>
<div class="item">
  <h2>${data.title}</h2>
  <p>${data.subtitle}</p>
</div>